<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="ct" content="<%= ct %>">
    <title>Speech Controlled Game</title>
    <link href="css/watson-bootstrap-style.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico" />
  </head>
  <body>
    <!-- top nav section -->
    <div class="navbar-wrapper">

      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <!-- IBM Watson Logo -->
          <div class="navbar-header">
            <a class="navbar-brand no-underline" href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/"><span class="thin-branding">IBM</span> Watson Developer Cloud</a>
          </div>
          <div class="float-right">
            <ul class="nav navbar-nav">
              <li><a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/services-catalog.html" class="no-underline">Services</a></li>
              <li><a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/" class="no-underline">Docs</a></li>
              <li><a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/gallery.html" class="no-underline">App Gallery</a></li>
              <li><a href="https://developer.ibm.com/watson/" class="no-underline">Community</a></li>
            </ul>
          </div><!-- .navbar right-->
        </div><!-- .container -->
      </div><!-- .navbar -->

    </div><!-- .navbar-wrapper -->

    <!-- Service Description Bar -->

    <div class="header">
      <div class="container">
        <div class="col-lg-2 col-md-2 hidden-xs hidden-sm">
          <img src="images/stt.svg" class="service-icon">
        </div><!-- .col-lg-2 -->

        <div class="col-lg-10 col-md-10 col-xs-12">
          <h1>Speech Controlled Game</h1>
          <p>The IBM Watson Speech to Text service uses speech recognition capabilities to convert English, Spanish, Brazilian Portuguese and Mandarin speech into text.</p>
          <p>The IBM Alchemy API relation extraction service is able to identify subject-action-object relations within HTML, text, or web-based content.</p>
          <p><img src="images/link.svg" class="glyph"><strong>Resources:</strong></br>
          <div class="resources">
            <a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/speech-to-text/api">Speech to Text API Reference</a>
            <a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/speech-to-text/">Speech to Text Documentation</a>
            <a href="http://www.alchemyapi.com/api/relation/textc.html">Alchemy Relation Extraction Text API Reference</a>
            <a href="http://www.alchemyapi.com/api/relation-extraction">Alchemy Relation Extraction Documentation</a>
            <a href="https://github.com/Samsinite/ibm-speech-to-text-game-nodejs">Fork on Github</a>
            <a href="https://bluemix.net/deploy?repository=https://github.com/Samsinite/ibm-speech-to-text-game-nodejs">Fork and Deploy on Github</a>
          </div><!-- .resources -->
          </p>
        </div><!-- .col-lg-10 -->
      </div><!-- .container -->
    </div><!-- .header -->
    <!-- Step 1 Section-->
    <div class="container">
      <!-- Step 3 Section-->
      <!-- First column of inputs -->
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h2>Speech Controlled Game Instruction</h2>
          <div class="col-lg-8 col-md-12 col-sm-12">
            <p class="help-block" style="padding-right: 3em;">Use your microphone (compatible only with <a href="https://www.google.com/intl/en/chrome/browser/desktop/">Google Chrome</a> and <a href="https://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a>) to move Melvin the magical fairy to the left and the right, and cause mischief by destroying the house. For example, saying a phrase such as "Move Melvin to the right side of the screen," will tell Melvin the character to move right. Once the character is next to the house, saying a command such as "Melvin, destroy the house," will cause Melvin to attack and destroy the house and level up the character.</p>
            <p class="help-block" style="padding-right: 3em;">Once you have recorded a command, press space to complete the command for relation extraction. When you are ready to begin to say another command, press space again to begin recording.
          </div><!-- .col-lg-8 -->
        </div><!-- .col-lg-12 -->
      </div>
      <div class="row">
        <div id="example-game" class="col-sm-12"></div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="audioParent">
            <audio style="display:none" class="audio" controls>
              Your browser does not support the audio element.
            </audio>
          </div>
        </div>
      </div><!-- row -->

      <!-- Tab panes -->
      <div class="row" style="  margin: 0;">
        <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0;">
          <div class="well">
            <form autocomplete="off" class="form-horizontal">
              <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#home2" aria-controls="home" role="tab" data-toggle="tab">Text</a></li>
                  <li role="presentation"><a href="#profile2" aria-controls="profile" role="tab" data-toggle="tab">JSON</a></li>
                </ul>
                <div class="hr-tab"></div>
                <fieldset>
                  <div class="row error-row">
                    <div class="col-lg-12">
                      <div id="errorAlert" >
                        <span id="errorMessage"></span>
                        <a class="pull-right" href="#" id="errorClose">&times;</a>
                      </div>
                    </div>
                  </div>

                  <div class="row notification-row">
                    <div class="col-lg-12">
                      <div id="notificationAlert" >
                        <span id="notificationMessage"></span>
                        <a class="pull-right" href="#" id="notificationClose">&times;</a>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row tabpanel-row">
                    <div class="col-lg-12">
                      <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home2">
                          <textarea readonly id="resultsText"></textarea>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile2">
                          <textarea readonly id="resultsJSON"></textarea>
                        </div>
                      </div>
                    </div><!-- .col-lg-12 -->
                  </div>
                </fieldset>
              </div>
            </form>
          </div>
        </div><!-- /.well -->
      </div><!-- /.tabpanel -->

      <div class="row">
        <div class="col-md-12">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3>Metadata</h3>
              <span class="pull-right clickable"><i class="caret-up" style="  margin-top: -1.3em;"></i></span>
            </div>
            <div class="panel-body">

              <!-- Table -->
              <div class="table-scroll">
                <table id="metadataTable">
                  <thead>
                    <tr class="table-header-row">
                      <th>WORD</th>
                      <th>START TIME(sec)</th>
                      <th>END TIME(sec)</th>
                      <th>CONFIDENCE</th>
                    </tr>
                  </thead>
                  <tbody id="metadataTableBody">
                  </tbody>
                </table>
              </div>

              <!-- END Table -->
              <div class="alt-hypothesis">
                <h5>Alternate Hypotheses</h5><hr>
                <div class="hypotheses">
                  <ol></ol>
                </div>
              </div>
            </div>
          </div>

          <!-- Spacer-->
          <!-- TODO: Move this to CSS-->
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <br><br>
            </div>
          </div>


        </div><!-- /.col -->
      </div><!-- /.row -->

    </div><!-- /.container -->

    <!-- for file upload dialog in toolbar -->
    <input style="display:none" type="file" id="fileUploadDialog">

    <!-- Place js files at the end of the document, with fallbacks for CDNs -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/phaser.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
